@import "./partials//_setup";
@import "./partials//_colors";
@import "./partials/_flickity";
@import "./partials/_nav";
@import "./partials/_article";
@import "./partials/_events";
@import "./partials/_footer";
@import "./partials/_header";

// GENERAL STYLES

html {
    font-size: 62.5%;
}

// TYPOGRAPHY
h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    margin: 0;
    font-size: 2.2rem;
    color: white;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    font-size: 1.8rem;
}

.author {
    font-size: 1.6rem;
    color: grey;
}

// WRAPPER
#wrapper {
    width: 100%;
    margin: 0 auto;
}

section, main, footer {
    padding: 10px;
}

.more {
    display: flex;
    align-items: center;
    a {
        color: $primaryColor;
        font-size: 1.8em;
    }
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}
