.section-heading {
    display: flex;
    justify-content: space-between;
}

.article-container {
    display: flex;
    justify-content: space-between;
    .article-card {
        width: 29%;
    }
}

.article-card {
        box-shadow: 5px 5px 5px lightgrey;
        border-left: 1px solid lightgrey;
    .card-title {
       background: $primaryColor;
        padding: 10px;
        min-height: 100px;
        max-height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .article-title {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
    .author {
        margin: 4px 0;
    }
    .article-description {
        padding: 10px;
        min-height: 100px;
        line-height: 1.6;
    }
}

article {
    a {
        color: $primaryColor;
        font-size: 1.6rem;
        &:hover .read-more {
            text-decoration: underline;
            color: $primaryColor;
            font-weight: bold;
        }
        .read-more {
            display: block;
            text-align: right;
        }
        .article-description {
            color: black;
        }
    }
}

// .article-description {
//     p {
//         min-height: 120px;
//     }
// }