.section-heading {
    display: flex;
    justify-content: space-between;
}

.article-container {
    display: flex;
    justify-content: space-between;
    .article-card {
        width: 29%;
    }
}

.article-card {
        box-shadow: 5px 5px 5px lightgrey;
        border-left: 1px solid lightgrey;
    .card-title {
       // background: linear-gradient(#f25959, #ffb04c);
       background: #f25959;
        padding: 10px;
        min-height: 100px;
        max-height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .article-title {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
    .article-description {
        padding: 10px;
        min-height: 100px;
    }
}