.event-info {
    display: flex; 
    justify-content: space-around;
    height: 100%;
    color: white;
    .info-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    a {
        display: inline-block;
        color: $primaryColor;
        border: 1px solid white;
        height: 20px;
        width: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 5px;
        &:hover {
            background: $primaryColor;
            color: white;
            border: 1px solid white;
        }
    }
    .event-photo {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.event-title {
    font-size: 3rem;
}

.date {
    font-size: 1.6rem;
    font-style: italic;
    margin: 4px;
    display: inline-block;
}


