.main-article-container {
    width: 70%;
}

.main-carousel:first-of-type {
    .carousel-cell {
        display: flex;
        align-items: center;
        a {
            color: white;
        }
    }
}