// TOP NAVIGATION

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    .main-logo-container, .link-container {
        width: 50%;
    }
    .logo {
        width: 30%;
    }
    .main-logo-container {
        display: flex;
        align-items: center;
    }
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    ul {
        display: flex;
    }
    li {
        margin: 10px;
    }
    a {
        color: $primaryColor;
        font-size: 1.8rem;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid $primaryColor;
        }
    }
}

input[type=text] {
    border: 1px solid $primaryColor;
    width: 70px;
    height: 20px;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 1.6rem;
    transition: all 0.3s ease;
}
